.places {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-row-gap: 80px;
  padding: 92px 0 92px 0;
  justify-items: center;
  width: 984px;
  max-width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}

@media screen and (max-width: 1024px) {
  .places {
    padding: 92px 48px 92px 48px;
  }
}

@media screen and (max-width: 768px) {
  .places {
    padding: 88px 24px 88px 24px;
    grid-row-gap: 72px;
  }
}

@media screen and (max-width: 430px) {
  .places {
    padding: 64px 0 64px 0;
    grid-row-gap: 48px;
  }
}