.header__lang-link_En {
  text-decoration-line: none;
  padding: 18px 0 6px 0;
  color: #FFFFFF;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 1.17;
}

.header__lang-link_En:hover {
  text-decoration-line: underline;
  opacity: .8;
}

@media screen and (max-width: 425px) {
  .header__lang-link_En {
    font-size: 18px;
    line-height: 1.33;
  }
}
