@import url(./__title/lead__title.css);
@import url(./__caption/lead__caption.css);
@import url(./__image/lead__image.css);
@import url(./__subtitle/lead__subtitle.css);

.lead {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  padding: 0 148px 0 148px;
  box-sizing: border-box;
  margin: 0;
}

@media screen and (max-width: 1024px) {
  .lead {
    padding: 0 48px 0 48px;
  }
}

@media screen and (max-width: 768px) {
  .lead {
    padding: 0;
  }
}