@import url(./__logo/header__logo.css);
@import url(./__lang-link/header__lang-link.css);
@import url(./__lang/header__lang.css);
@import url(./__lang/_active/header__lang_active.css);

.header {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 28px 0 0 0;
  width: 1184px;
  max-width: 100%;
  box-sizing: border-box;
}

@media screen and (max-width: 1024px) {
  .header {
    padding: 28px 48px 0 48px;
  }
}

@media screen and (max-width: 768px) {
  .header {
    padding: 28px 24px 0 24px;
  }
}

@media screen and (max-width: 425px) {
  .header {
    padding: 16px 16px 0 16px;
  }
}
