@import url(./_value_style/footer__link_value_style.css);

.footer__link {
  padding: 0 18px 0 0;
}

.footer__link:last-child {
  padding: 0;
}

@media screen and (max-width: 673px) {
  .footer__link {
    padding: 0 0 32px 0;
  }

  .footer__link:last-child {
    padding: 0 0 48px 0;
  }
}