.lead__title {
  width: 720px;
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 1.04;
  text-align: center;
  padding: 56px 0 32px 0;
  max-width: 100%;
  margin: 0;
  box-sizing: border-box;
}

@media screen and (max-width: 1024px) {
  .lead__title {
    padding: 48px 0 32px 0;
  }
}

@media screen and (max-width: 660px) {
  .lead__title {
    font-size: 40px;
    line-height: 1.1;
    padding: 48px 0 16px 0;
  }
}