.lead__caption {
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 1.4;
  text-transform: uppercase;
  width: 984px;
  margin: 0;
  max-width: 100%;
  box-sizing: border-box;
}

@media screen and (max-width: 768px) {
  .lead__caption {
    padding-left: 24px;
  }
}
@media screen and (max-width: 425px) {
  .lead__caption {
    padding-left: 16px;
  }
}