@import url(./__copyright/footer__copyright.css);
@import url(./__link/footer__link.css);
@import url(./__links/footer__links.css);

.footer {
  display: flex;
  justify-content: space-between;
  width: 1184px;
  max-width: 100%;
  padding: 92px 0 24px 0;
  box-sizing: border-box;
  margin: 0 auto;
}

@media screen and (max-width: 1024px) {
  .footer {
    padding: 92px 48px 24px 48px;
  }
}

@media screen and (max-width: 768px) {
  .footer {
    padding: 88px 24px 24px 24px;
  }
}

@media screen and (max-width: 673px) {
  .footer {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 64px 0 24px 16px;
  }
}