.intro__title {
  font-style: normal;
  font-weight: 900;
  font-size: 54px;
  line-height: 1.07;
  padding: 0 0 40px 0;
  width: 690px;
  margin: 0;
  max-width: 100%;
  box-sizing: border-box;
}

}
@media screen and (max-width: 660px) {
  .intro__title {
    font-size: 32px;
    line-height: 1.09;
  }
}
